name: fuzzer

on:
  push:
    paths:
      - 'tools/fuzzer/**'
  pull_request:
    paths:
      - 'tools/fuzzer/**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
      - name: Run tests
        working-directory: ./
        run: cargo test --manifest-path tools/fuzzer/Cargo.toml --all
